In [1]:
import pandas as pd 
import os, glob
import matplotlib.pyplot as plt 
import numpy as np

In [4]:
df = pd.concat((pd.read_csv(f, engine="python", header=0) for f in glob.glob(r"gemini_BTCUSD_20[12][7890]*.csv")))
df["Date"] = pd.to_datetime(df["Date"], format="%Y-%m-%d %H:%M:%S")
df = df.drop(["Symbol", "Unix Timestamp"], axis=1)
print(df.dtypes)
df.head(10)

Date      datetime64[ns]
Open             float64
High             float64
Low              float64
Close            float64
Volume           float64
dtype: object

                 Date      Open      High       Low     Close     Volume
0 2021-02-20 00:02:00  56178.00  56200.00  56141.15  56200.00   4.708759
1 2021-02-20 00:01:00  56034.59  56178.00  56034.59  56178.00   2.000919
2 2021-02-20 00:00:00  55984.59  56102.16  55984.59  56034.59  10.365388
3 2021-02-19 23:59:00  55955.70  55984.59  55896.01  55984.59   0.416505
4 2021-02-19 23:58:00  55999.97  55999.97  55899.67  55955.70   0.496324
5 2021-02-19 23:57:00  55950.51  55999.97  55926.57  55999.97   3.811466
6 2021-02-19 23:56:00  55893.14  55954.71  55867.55  55950.51   2.896990
7 2021-02-19 23:55:00  55880.01  55923.53  55857.30  55893.14   0.756757
8 2021-02-19 23:54:00  55862.03  55880.01  55837.52  55880.01   0.256260
9 2021-02-19 23:53:00  55844.76  55923.23  55844.76  55862.03   0.084607

In [13]:
df["diff"] = (df["Close"] - df["Open"])/df["Close"]
df.head()

,Date,Open,High,Low,Close,Volume,diff
0,2021-02-20 00:02:00,56178.00,56200.00,56141.15,56200.00,4.708759,0.000391
1,2021-02-20 00:01:00,56034.59,56178.00,56034.59,56178.00,2.000919,0.002553
2,2021-02-20 00:00:00,55984.59,56102.16,55984.59,56034.59,10.365388,0.000892
3,2021-02-19 23:59:00,55955.70,55984.59,55896.01,55984.59,0.416505,0.000516
4,2021-02-19 23:58:00,55999.97,55999.97,55899.67,55955.70,0.496324,-0.000791

In [50]:
def split_dataset(dataset, split=2/3):
    train_size = int(len(dataset) * split)
    test_size = len(dataset) - train_size
    print(train_size, test_size)
    train = dataset[:train_size]
    test = dataset[train_size:]
    return train, test

def create_lookback(dataset, look_back=1):
	dataX, dataY = pd.DataFrame(), pd.DataFrame()
	for i in range(len(dataset)-look_back-1):
		a = dataset[i:(i+look_back)]
		dataX.append(a)
		dataY.append(dataset.iloc(i + look_back)["diff"])
	return np.array(dataX), np.array(dataY)

In [51]:
train, test = split_dataset(df);
lookback = 5
trainX, trainY = create_lookback(train, lookback)
testX, testY = create_lookback(test, lookback)

print(trainX.shape, trainY.shape)
trainX[:10], trainY[:10]

1381767 690884

ValueError: No axis named 5 for object type DataFrame

In [ ]:
from tf.keras import models
from tensorflow.keras.layers import Input, Dense, Bidirectional, LSTM

model = models.Sequential()
model.add(Input())
model.add(LSTM())
model.add(Dense(64))
model.add(Dense(2))